#wrapper{
width: 70%;
margin-right: auto;
margin-left: auto;

}

header {
height: auto;
background: black;
}

body{
    background-image: url(img/Background.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
    height: auto;
}

h1{
    color: Black;
    text-align: center;
    text-decoration: underline;
}

p{
    color: black;
    font-size: large;
    text-align: center;
}


section{

	width: 70%;
	height: 420px;
	float: left;
	background: rgba(255,255,255,.75);
}

aside{
	width: 30%;
	height: 420px;
	float: right;
	background: rgba(255,255,255,.75);
}

footer{
	height: 50px;
	clear: both;
	background: rgba(255,255,255,.75);
}
